<template>
  <section class="mx-5 md:mx-auto md:max-w-screen-md lg:max-w-screen-xl">
    <div class="lg:grid lg:grid-cols-2 lg:mb-40">
      <div class="lg:grid lg:grid-cols-2 lg:grid-rows-2">
        <HeroImageComponent class="mb-10 lg:col-start-1 lg:col-end-3" />
        <HeroTextComponent
          class="mb-20 lg:mb-0 lg:col-start-1 lg:col-end-3 lg:row-span-2"
        />
      </div>
      <NewNewsComponent class="mb-20 lg:mb-0 lg:ml-auto" />
    </div>
    <PopularTopicListComponent class="mb-20" />
  </section>
</template>

<script>
import HeroImageComponent from "@/components/HeroImageComponent";
import HeroTextComponent from "@/components/HeroTextComponent";
import NewNewsComponent from "@/components/NewNewsComponent";
import PopularTopicListComponent from "@/components/PopularTopicListComponent";
export default {
  name: "HomePage",
  components: {
    HeroImageComponent,
    HeroTextComponent,
    NewNewsComponent,
    PopularTopicListComponent,
  },
};
</script>
