<template>
  <ul class="flex-row gap-x-10 text-gray-500">
    <li
      class="cursor-pointer hover:text-orange-500 transition-all ease-in-out delay-75"
    >
      Home
    </li>
    <li
      class="cursor-pointer hover:text-orange-500 transition-all ease-in-out delay-75"
    >
      New
    </li>
    <li
      class="cursor-pointer hover:text-orange-500 transition-all ease-in-out delay-75"
    >
      Popular
    </li>
    <li
      class="cursor-pointer hover:text-orange-500 transition-all ease-in-out delay-75"
    >
      Tranding
    </li>
    <li
      class="cursor-pointer hover:text-orange-500 transition-all ease-in-out delay-75"
    >
      Categories
    </li>
  </ul>
</template>

<script>
export default {
  name: "DesktopMenuComponent",
};
</script>
