<template>
  <div>
    <img
      class="lg:hidden"
      src="@/assets/images/image-web-3-mobile.jpg"
      alt="Illustration image"
    />
    <img
      class="hidden lg:flex"
      src="@/assets/images/image-web-3-desktop.jpg"
      alt="Illustration image"
    />
  </div>
</template>

<script>
export default {
  name: "HeroImageComponent ",
};
</script>
