<template>
  <div class="lg:flex lg:flex-row lg:items-end lg:gap-x-20">
    <div class="mb-5 lg:mb-0">
      <h3 class="text-4xl lg:text-5xl font-extrabold">
        The Bright Future of Web 3.0?
      </h3>
    </div>
    <div>
      <p class="mb-10 lg:text-xl">
        We dive into the next evolution of the web that claims to put the power
        of the platforms back into the hands of the people. But is it really
        fulfilling its promise?
      </p>
      <button
        class="py-3 px-9 text-red-50 uppercase font-bold tracking-widest transition hover:bg-black ease-in-out delay-150"
      >
        Read more
      </button>
    </div>
  </div>
</template>

<script>
export default {
  name: "HeroTextComponent",
};
</script>

<style scoped>
button {
  background-color: hsl(5, 85%, 63%);
}
</style>
