<template>
  <Transition>
    <section v-if="display" class="w-screen h-screen bg-gray-900 bg-opacity-40">
      <div class="w-3/4 h-screen ml-auto menu px-5 py-7 flex flex-col menu">
        <button @click="hideMenuMobile" class="ml-auto mb-28">
          <img
            src="@/assets/images/icon-menu-close.svg"
            alt="Menu close icon"
          />
        </button>
        <ul class="flex flex-col gap-y-4 text-lg">
          <li>Home</li>
          <li>New</li>
          <li>Popular</li>
          <li>Trending</li>
          <li>Categories</li>
        </ul>
      </div>
    </section>
  </Transition>
</template>

<script>
import { ref } from "vue";
export default {
  name: "MenuMobileComponent",
  props: {
    display: {
      type: Boolean,
      required: true,
    },
  },
  emits: ["hide-menu-mobile"],

  setup(props, context) {
    const hide = ref(false);

    const hideMenuMobile = () => {
      hide.value = true;
      context.emit("hide-menu-mobile");
    };

    return {
      hideMenuMobile,
      hide,
    };
  },
};
</script>

<style scoped lang="scss">
.menu {
  background-color: hsl(36, 100%, 99%);
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;

  .menu {
    transition: transform 0.3s ease;
  }
}

.v-enter-from,
.v-leave-to {
  opacity: 0;

  .menu {
    transform: translateX(100%);
  }
}
</style>
