<template>
  <nav
    class="relative flex items-center mx-auto md:max-w-screen-md lg:max-w-screen-xl py-6 lg:pb-12 lg:pt-20 px-4 lg:px-0"
  >
    <img src="@/assets/images/logo.svg" alt="W logo" />
    <button @click="displayMenuMobile" class="cursor-pointer ml-auto lg:hidden">
      <img src="@/assets/images/icon-menu.svg" alt="Menu icon" />
    </button>
    <MenuMobileComponent
      @hide-menu-mobile="hideMenuMobile"
      :display="showMenuMobile"
      class="absolute top-0 right-0 lg:hidden"
    />
    <DesktopMenuComponent class="hidden lg:flex lg:ml-auto" />
  </nav>
</template>

<script>
import MenuMobileComponent from "@/components/MenuMobileComponent";
import DesktopMenuComponent from "@/components/DesktopMenuComponent";
import { ref } from "vue";
export default {
  name: "NavigationComponent",
  components: { MenuMobileComponent, DesktopMenuComponent },

  setup() {
    const showMenuMobile = ref(false);

    const displayMenuMobile = () => {
      showMenuMobile.value = true;
    };

    const hideMenuMobile = () => {
      showMenuMobile.value = false;
    };

    return {
      showMenuMobile,
      displayMenuMobile,
      hideMenuMobile,
    };
  },
};
</script>
