<template>
  <div class="bg-gray-800 py-6 px-5 lg:w-3/4">
    <h3 class="text-xl lg:text-5xl font-extrabold mb-7">New</h3>
    <NewsListComponent />
  </div>
</template>

<script>
import NewsListComponent from "@/components/NewsListComponent";
export default {
  name: "NewNewsComponent",
  components: { NewsListComponent },
};
</script>

<style scoped>
h3 {
  color: hsl(35, 77%, 62%);
}
</style>
