<template>
  <ul>
    <NewsElementComponent
      v-for="item in list"
      :key="item.id"
      :item="item"
      class="even:border-b-2 even:border-t-2 even:border-white even:border-opacity-70 even:pt-7 last-of-type:pt-7"
    />
  </ul>
</template>

<script>
import NewsElementComponent from "@/components/NewsElementComponent";
export default {
  name: "NewsListComponent",
  components: { NewsElementComponent },

  setup() {
    const list = [
      {
        id: 1,
        title: "New Hydrogen VS Electric Cars",
        text: "Will hydrogen-fueled cars ever catch up to EVs?",
      },
      {
        id: 2,
        title: "The Downsides of AI Artistry",
        text: "The Downsides of AI Artistry What are the possible adverse effects of on-demand AI image generation?",
      },
      {
        id: 3,
        title: "Is VC Funding Drying Up?",
        text: "Private funding by VC firms is down 50% YOY. We take a look at what that means.",
      },
    ];

    return {
      list,
    };
  },
};
</script>
