<template>
  <li class="text-white">
    <h4
      class="font-bold text-lg lg:text-2xl mb-3 transition-all hover:text-orange-300 ease-in-out delay-150 cursor-pointer"
    >
      {{ item.title }}
    </h4>
    <p class="opacity-75 text-sm lg:text-xl mb-7">{{ item.text }}</p>
  </li>
</template>

<script>
export default {
  name: "NewsElementComponent",
  props: {
    item: {
      type: Object,
      required: true,
    },
  },
};
</script>
