<template>
  <li class="flex flex-row items-start gap-x-6 lg:items-end">
    <div>
      <img :src="item.imgSrc" :alt="item.imgAlt" class="h-40 object-cover" />
    </div>
    <div>
      <div class="mb-3 lg:mb-1">
        <h3 class="text-4xl font-extrabold text-gray-300">
          {{ item.number }}
        </h3>
      </div>
      <div class="mb-3 lg:mb-1">
        <h4
          class="font-extrabold lg:text-xl hover:text-orange-500 transition-all ease-in-out delay-150 cursor-pointer"
        >
          {{ item.title }}
        </h4>
      </div>
      <div>
        <p class="text-sm text-gray-500 leading-6">{{ item.text }}</p>
      </div>
    </div>
  </li>
</template>

<script>
export default {
  name: "PopularTopicElementComponent",
  props: {
    item: {
      type: Object,
      required: true,
    },
  },
};
</script>
