<template>
  <ul class="lg:flex lg:flex-row lg:gap-x-6 lg:items-center">
    <PopularTopicElementComponent
      v-for="item in list"
      :key="item.id"
      :item="item"
      class="mb-10"
    />
  </ul>
</template>

<script>
import PopularTopicElementComponent from "@/components/PopularTopicElementComponent";
export default {
  name: "PopularTopicListComponent",
  components: { PopularTopicElementComponent },

  setup() {
    const list = [
      {
        id: 1,
        imgSrc: require("@/assets/images/image-retro-pcs.jpg"),
        imgAlt: "Retro computer image",
        number: "01",
        title: "Reviving Retro PCs",
        text: "What happens when old PCs are given modern upgrades?",
      },
      {
        id: 2,
        imgSrc: require("@/assets/images/image-top-laptops.jpg"),
        imgAlt: "Laptop image",
        number: "02",
        title: "Top 10 Laptops of 2022",
        text: "ur best picks for various needs and budgets.",
      },
      {
        id: 3,
        imgSrc: require("@/assets/images/image-gaming-growth.jpg"),
        imgAlt: "Game controller image",
        number: "03",
        title: "The Growth of Gaming",
        text: "How the pandemic has sparked fresh opportunities.",
      },
    ];

    return {
      list,
    };
  },
};
</script>
