@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");

@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
  html {
    font-family: Inter, sans-serif;
  }
}
