<template>
  <NavigationComponent />
  <main>
    <router-view />
  </main>
</template>

<script>
import NavigationComponent from "@/components/NavigationComponent";
export default {
  components: { NavigationComponent },
};
</script>

<style>
html {
  background-color: hsl(36, 100%, 99%);
  color: hsl(240, 100%, 5%);
}
</style>
